apiVersion: batch/v1
kind: Job
metadata:
  name: ttk-{{ coll.name }}
  namespace: {{ ttk_job_ns }}
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: cli
          image: {{ ttk_cli_image }}
          command:
            - sh
            - -c
            - |
              set -eux
              cd /collections
              node /opt/app/cli.js -e env.json -i master.json -o /tmp/results.json
              cat /tmp/results.json
          volumeMounts:
            - name: collection
              mountPath: /collections
      volumes:
        - name: collection
          configMap:
            name: ttk-{{ coll.name }}-collection
