apiVersion: v1
kind: Config
current-context: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: admin
  name: {{ cluster_name }}
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_data }}
    server: https://{{ api_server_host }}:16443
    proxy-command: ssh -W %h:%p -q {{ bastion_user }}@{{ bastion_host }}
  name: {{ cluster_name }}
users:
- name: admin
  user:
    client-certificate-data: {{ client_cert_data }}
    client-key-data: {{ client_key_data }}